body {
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
}

header a, .navbar-brand {
    font-size: 1.1rem;
}

.navbar-brand {
    font-weight: 600;
    text-transform: uppercase;
}

main, footer {
    font-size: 0.9rem;
}

.shdw {
    text-shadow: black 2px 1px;
}

.image {
    height: 400px;
    background-image: url('assets/hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#service {
    padding: 60px 0;
}

#product {
    padding: 60px 0;
}

#about {
    padding: 60px 0;
}

#contact {
    padding: 60px 0;
}